@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 89% 94%;
    --foreground: 232 64% 10%;
    --card: 0 0% 100%;
    --card-foreground: 232 64% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 232 64% 10%;
    --primary: 232 64% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 206 80% 90%;
    --secondary-foreground: 232 64% 10%;
    --muted: 206 80% 90%;
    --muted-foreground: 232 64% 35%;
    --accent: 206 80% 96%;
    --accent-foreground: 232 64% 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 70% 85%;
    --input: 206 70% 85%;
    --ring: 232 64% 30%;
    --chart-1: 232 64% 30%;
    --chart-2: 206 80% 60%;
    --chart-3: 0 100% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 232 64% 24%;
    --sidebar-foreground: 206 89% 94%;
    --sidebar-primary: 206 89% 94%;
    --sidebar-primary-foreground: 232 64% 24%;
    --sidebar-accent: 232 64% 34%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 232 64% 34%;
    --sidebar-ring: 206 89% 94%;
  }

  .dark {
    --background: 232 30% 12%;
    --foreground: 206 89% 94%;
    --card: 232 30% 16%;
    --card-foreground: 206 89% 94%;
    --popover: 232 30% 16%;
    --popover-foreground: 206 89% 94%;
    --primary: 206 89% 85%;
    --primary-foreground: 232 64% 10%;
    --secondary: 232 30% 25%;
    --secondary-foreground: 206 89% 94%;
    --muted: 232 30% 25%;
    --muted-foreground: 206 80% 70%;
    --accent: 232 30% 25%;
    --accent-foreground: 206 89% 94%;
    --destructive: 0 80% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 30% 25%;
    --input: 232 30% 25%;
    --ring: 206 89% 85%;
    --chart-1: 206 89% 85%;
    --chart-2: 206 80% 60%;
    --chart-3: 0 80% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 232 30% 12%;
    --sidebar-foreground: 206 89% 94%;
    --sidebar-primary: 206 89% 94%;
    --sidebar-primary-foreground: 232 30% 12%;
    --sidebar-accent: 232 30% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 232 30% 22%;
    --sidebar-ring: 206 89% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
